<form action= "/named_cat" method="post">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<% if @name != nil %>
<h1>My name is <%=@name%></h1>
<%end %>
<img src = 'http://bit.ly/1eze8aE' alt = 'Cat' style = 'border: medium dashed red;'>
