Testing infrastructure working!

<form action="/names" method='post'>
  <label for="name">Player 1:</label>
  <input type="text" name="name1">

  <label for="name">Player 2:</label>
  <input type="text" name="name2">

  <input type="submit" value="Submit">
</form>
