
<h1><%= $player1.name %>: <%= $player1.hp %>HP</h1>

<form action="/attack" method='post'>
  <label for="name">Attack Player 1</label>

  <input type="submit" value="Attack">
</form>

<h1><%= $player2.name %>: <%= $player2.hp %>HP</h1>
