
<h1><%= @name1 %>: <%= @player1_hp %>HP</h1>

<form action="/play" method='post'>
  <label for="name">Attack Player 1</label>

  <input type="submit" value="Attack">
</form>

<h1><%= @name2 %>: <%= @player2_hp %>HP</h1>
